.header {
    height: 80px;
    width: 100%;
    padding-top: 10px;
}

.search {
    width: 100%;
    display: flex;
}


.btn-outline-success {
    width: 120px;
}

.quanlybaidang {
    height: 50px;
    width: 100px;
    background-color: #4BACE2;
    margin-left: 20px;
    border-radius: 10px;
}

#logo {
    right: 0;
    height: auto;
    width: 150px;
}

#user {
    height: 50px;
    width: 50px;
}

#search {
    padding: 0 0 0 0;
}

.btn-search {
    font-weight: bold !important;
}

#xinchao {
    font-size: 12px;
    font-weight: bold;
    border: 0 0 0 0;
}


.link {
    height: 77px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

#link {
    height: 20px;
    width: 20px;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.lienket {
    margin-left: 0 !important;
    width: 100%;
}

#homepage {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.homepage {
    text-align: center;
}

.sidebar {
    /* width: 100% !important; */
}

.fa-solid {
    color: rgb(38 90 162);

}





.sidebar-icon {
    height: 30px;
    ;
    width: 30px
}

.nav-icon {
    height: 20px;
    width: 20px;
}

.imgpost {
    max-width: 100%;
    height: 169px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.card {
    margin-bottom: 1rem;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}

/*.card-body {
    padding-left: 0 !important;
}
*/
.main {
}

span {
    margin-left: 10px;
}



.form {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
    border-radius: 10px;
}

.form-title {

    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 20px;


    margin-left: -16px !important;
    margin-right: -16px !important;
    border-radius: 10px 10px 0 0;
}

.btn-header {

    border: 1px solid gray !important;
    background-color: #fff !important;
    font-weight: bold;
}

    .btn-header:hover {
        background-color: #4BACE2 !important;
        color: #fff !important;
    }

.form-label {
    font-weight: 600;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

    .app-form-control::placeholder {
        color: #666;
    }

    .app-form-control:focus {
        border-bottom-color: #4d6ecd;
    }

.btn-newdraft{
    font-weight:bold;
    width:100%;
}



#blah {
    max-width: 180px;
}

input[type=file] {
    padding: 10px;
}


/* footer */

.footer{
  background-color: #f3f5fa;
  width: 100%;
  height: 200px;
  padding-top: 20px;

}

ul{
  list-style: none;
}

.list-icon{
  height: 50px;
  width: 50px;
  margin-left:20px;
}

.icon{
  display: flex;
}

a{
  text-decoration: none !important;   
  color: black !important;
}

.section-bg {
  background-color: #f3f5fa;
}

#cliens{
  bottom:0px;
}
.cliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

.list-icon:hover{
  filter: none;
  transform: scale(1.1);
}

#link1{
  height: 20px;
  width: 20px;
  padding:0 !important;
}

.link1{
  padding-top: 10px;
  padding-left: 20px;
}

.copyright-ic{
  height: 30px;
  width: 30px;
}

hr{
  margin-bottom:0 !important;
}

/*css chào mừng*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: auto;
    background: #37517e;
}

    #hero .container {
        padding-top: 72px;
    }

    #hero h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #hero h2 {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
        font-size: 24px;
    }

    #hero .btn-get-started {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 11px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 0 0;
        color: #fff;
        background: #47b2e4;
    }

        #hero .btn-get-started:hover {
            background: #209dd8;
        }

    #hero .btn-watch-video {
        font-size: 16px;
        display: flex;
        align-items: center;
        transition: 0.5s;
        margin: 10px 0 0 25px;
        color: #fff;
        line-height: 1;
    }

        #hero .btn-watch-video i {
            line-height: 0;
            color: #fff;
            font-size: 32px;
            transition: 0.3s;
            margin-right: 8px;
        }

        #hero .btn-watch-video:hover i {
            color: #47b2e4;
        }

    #hero .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
    }

        #hero .animated {
            -webkit-animation: none;
            animation: none;
        }

        #hero .hero-img {
            text-align: center;
        }

            #hero .hero-img img {
                width: 50%;
            }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }

    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px !important;
    }
}