
@{
    ViewData["Title"] = "welcome";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="main">
    <h1>CHÀO MỪNG ĐẾN VỚI TRANG ADMIN!!!</h1>
    <div class="imgwelcome">

        <img src="./assets/img/hero-img.png" width="50%">
    </div>
</div>

