
@{
    ViewData["Title"] = "NewDraft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app">
    <div class="container mt-4">
        <div class="row">
            <div class="col-2 sidebar shadow">
                <div class="homepage"><a href=""><img id="homepage" src="~/assets/homepage/img/home.png"></a></div>
                <div class="row mb-4 ml-1 mt-4">
                    <div class="row lienket"><a href=""><img class="sidebar-icon" src="~/assets/homepage/img/all.png"><span>Tổng quan</span></a></div>
                </div>
                <div class="row  mb-4 ml-1">
                    <div class="row lienket"><a href=""><img class="sidebar-icon" src="~/assets/homepage/img/new-document.png"><span>Tạo bài đăng mới</span></a></div>
                </div>
                <div class="row mb-4 ml-1">
                    <div class="row lienket"><a href=""><img class="sidebar-icon" src="~/assets/homepage/img/reply.png"><span>Đã phản hồi</span></a></div>
                </div>
                <div class="row mb-4 ml-1">
                    <div class="row lienket"><a href=""><img class="sidebar-icon" src="~/assets/homepage/img/spam.png"><span>Bị đánh spam</span></a></div>
                </div>                                                                          
                <div class="row mb-4 ml-1">                                                     
                    <div class="row lienket"><a href=""><img class="sidebar-icon" src="~/assets/homepage/img/draft.png"><span>Chờ duyệt</span></a></div>
                </div>                                                                         
                <div class="row mb-4 ml-1">                                                    
                    <div class="row lienket"><a href=""><img class="sidebar-icon" src="~/assets/homepage/img/key.png"><span>Đổi mật khẩu</span></a></div>
                </div>
            </div>
            <div class="col-7">
                <div class="mt-4">
                    <div class="form container">
                        <form asp-controller="complains" method="post" enctype="multipart/form-data">
                            <div class="form-title mb-4">
                                <p>Tạo Bài Đăng Mới</p>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Tiêu đề:</label>
                                <input type="text" class="app-form-control" id="tieude" name="tieude" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Chọn khoa</label>
                                <select type="form-select" class="app-form-control" id="khoa" placeholder="" name="khoa">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="file" name="files" multiple />
                                @*<img id="blah" src="http://placehold.it/180" alt="Ảnh của bạn" />*@
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nội dung</label>
                                <textarea class="app-form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-draft">LƯU BẢN NHÁP</button>

                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-send" asp-action="RequestPosting" asp-controller="complains" >GỬI</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="col-3">
                <div class="row lienket"><a><img id="link" src="~/assets/homepage/img/link.png">Liên kết hữu ích</a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/quocte.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/TV.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/tvts_OK.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/ts2022_vlvh.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/banner_CTLKQT.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/img-links-03.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/img-links-05.jpg"></a></div>
                <div><a href=""><img class="link" src="~/assets/homepage/img/MatKetLienKet_.jpg"></a></div>
            </div>
        </div>


    </div>
</div>
@*<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>*@
