
@{
    ViewData["Title"] = "NewDraft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>

    <title>Trang Tạo Bản Nháp</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="mt-4">
        <div class="form container">
            <form asp-controller="complains" method="post" enctype="multipart/form-data">
                <div class="form-title mb-4">
                    <p class="text-primary">TẠO BÀI ĐĂNG MỚI</p>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tiêu đề:</label>
                    <input type="text" class="app-form-control" id="tieude" name="tieude" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Chọn khoa</label>
                    <select type="form-select" class="app-form-control" id="khoa" placeholder="" name="khoa">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Chọn hình</label>
                    <input id="blah" type="file" accept="image/*" name="files" multiple />
                    @*<img id="blah" src="http://placehold.it/180" alt="Ảnh của bạn" />*@
                </div>
                <div class="mb-3">
                    <label class="form-label">Nội dung</label>
                    <textarea typeof="text" class="app-form-control" id="exampleFormControlTextarea1" name="content" rows="3" ></textarea>
                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <button style="font-weight:600" type="submit" class="btn btn-success btn-newdraft" asp-action="CreateDraft" asp-controller="complains">LƯU BẢN NHÁP</button>

                        </div>
                        <div class="col-6">
                            <button style="font-weight:600" type="submit" class="btn btn-primary btn-newdraft" asp-action="RequestPosting" asp-controller="complains">GỬI</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</body>

@*<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>*@

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>




