@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html lang="en">
<head>

    <title>Access Denied</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div style="height:100%" class="d-flex flex-column justify-content-center align-items-center" >
        <h1 style="color:red">Access Denied</h1>
        <h3 class="">BẠN KHÔNG CÓ QUYỀN TRUY CẬP VÀO TRANG NÀY.</h3>
        <h3 class="">🚫🚫🚫🚫</h3>
        <h6 class="">error code:403 forbidden</h6>
    </div>
</body>
</html>