@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert-danger">
    <h1>Access Denied </h1>
    <h3>You dont have permission to view this resource.</h3>
</div>  