@model List<Complains_System.Catalog.Department.ListDepartments>
@{
    ViewData["Title"] = "manage_department";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!doctype html>
<html lang="en">
<head>

    <title>Trang Quản Lý Phòng Ban</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/assets/admin/manage_dep/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!-- form xem và sửa tài  phòng ban-->

<body>
    <div class="d-flex align-items-center">
        <div class="col-8">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-4 my-2  mw-100 navbar-search">
                <div class="input-group">
                    <input id="search-height" type="text" class="form-control bg-light border-0 small"
                           placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="btn-search" class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="row mr-4 ml-4">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-info">
                    <th scope="col">TÊN PHÒNG BAN</th>
                    <th scope="col">SỐ ĐIỆN THOẠI</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col" colspan="2">Hành động</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Name</th>
                        <td>@item.phone</td>
                        <td>@item.email</td>
                        <td>
                            <label  for="nav-input" class="btn btn-info btn-fix">
                                CHỈNH SỬA
                            </label>
                        </td>
                        <input hidden class="form-check-input" type="checkbox" id="nav-input">
                        <label for="nav-input" class="over_lay"></label>
                        <div class="bg-1 d-flex ">
                            <div style="display: none;" id="content" class="open_form container mt-10 ">
                                <label id="btn-close" for="nav-input" class="close_form">
                                    <i class="fa-2x fa-solid fa-square-xmark"></i>
                                </label>
                                <div class="form d-flex ">
                                    <div class="form-title mt-8 pb-5">
                                        <p class="text-primary">CHỈNH SỬA PHÒNG BAN</p>
                                    </div>
                                    <div class="form-create d-flex">
                                        <label for="exampleFormControlInput1" class="form-label ">
                                            TÊN PHÒNG
                                            BAN:
                                        </label>
                                        <div class="this-typing pb-6">
                                            <input type="text" class="form-control" name="">
                                        </div>
                                        <label for="exampleFormControlInput1" class="form-label">
                                            SỐ ĐIỆN
                                            THOẠI:
                                        </label>
                                        <div class="this-typing pb-6">
                                            <input type="text" class="form-control" name="">
                                        </div>
                                        <label for="exampleFormControlInput1" class="form-label">EMAIL:</label>
                                        <div class="this-typing pb-6">
                                            <input type="text" class="form-control" name="">
                                        </div>
                                        <button class="btn btn-success mb-5">LƯU</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <td><button id="delete1" class="btn btn-danger delete">Xoá</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</body>


<!-- kết thúc form xem và sửa phòng ban -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--JS xoá phòng ban -->
<script>
    var deleteLinks = document.querySelectorAll('.delete');

    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            var choice = confirm("Bạn có muốn xoá phòng ban này?");
            event.preventDefault();

            if (choice) {
                window.location.href = this.getAttribute('href');
            }
        });
    }
</script>

<!--JS cho hien popup -->
<script>
    var showpopups = document.querySelectorAll('.btn-fix');

    for (var i = 0; i < showpopups.length; i++) {
        showpopups[i].addEventListener('click', function (event) {
            document.getElementById("content").style.display = 'block';
        })
    }

    document.getElementById("btn-close").onclick = function () {
        document.getElementById("content").style.display = 'none';
    };
    //document.querySelectorAll('.btn-fix').onclick = function () {
    //    document.getElementById("content").style.display = 'block ';
    //};

   
    
 


</script>

</html>