@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
    <link rel="stylesheet" href="~/assets/homepage/css/style.css">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-3">
            <button id="xinchao" class="btn dropdown-toggle " data-toggle="dropdown">Xin chào @UserManager.GetUserName(User)</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">
                    <img class="nav-icon" src="~/assets/img/key.png"><span>Đổi mật khẩu</span>
                </a>
                <a class="dropdown-item" asp-action="logout" asp-controller="users">
                    <img class="nav-icon" src="~/assets/img/log-out.png"><span>Đăng xuất</span>
                </a>
            </div>
        </div>
        
    }
    else
    {
        <div class="col-3">
            <a class="dropdown-item" asp-action="login" asp-controller="users">
                <img class="nav-icon" src="~/assets/img/log-out.png"><span>Đăng nhập!</span>
            </a>
        </div>
        
    }