@using Microsoft.AspNetCore.Identity
@using Complains_System.Catalog.User;
@using Complains_System.Catalog.Admin.UserManagement
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IUserService userService
@inject IUserManagementService _usermanaservice
<link rel="stylesheet" href="~/assets/homepage/css/style.css">
@if (SignInManager.IsSignedIn(User))
{
    <div class="col-12">
        <button id="xinchao" class="btn dropdown-toggle btn-header" data-toggle="dropdown">Hi @userService.getUser(UserManager.GetUserName(User)).Result.Name!</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="ChangePass" asp-controller="users">
                <i class="fa-solid fa-key"></i><span>Đổi mật khẩu</span>
            </a>
            <a class="dropdown-item" asp-action="logout" asp-controller="users">
                <i class="fa-solid fa-right-to-bracket"></i><span>Đăng xuất</span>
            </a>
        </div>
    </div>

}
else
{
    <div class="col-12">
        <a class="btn btn-dark nav-link btn-login" asp-action="login" asp-controller="users">
            <i style="color:white   " class="fa-solid fa-right-to-bracket"></i><span style="color:white!important">ĐĂNG NHẬP!</span>
        </a>
    </div>

}