@using Microsoft.AspNetCore.Identity
@using Complains_System.Catalog.User;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IUserService userService
<link rel="stylesheet" href="~/assets/homepage/css/style.css">
@if (SignInManager.IsSignedIn(User))
{
    <div class="col-3">
        <button id="xinchao" class="btn dropdown-toggle btn-header" data-toggle="dropdown">Hi @userService.getUser(UserManager.GetUserName(User)).Name!</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="ChangePass" asp-controller="users">
                <img class="nav-icon" src="~/assets/img/key.png"><span>Đổi mật khẩu</span>
            </a>
            <a class="dropdown-item" asp-action="logout" asp-controller="users">
                <img class="nav-icon" src="~/assets/img/log-out.png"><span>Đăng xuất</span>
            </a>
        </div>
    </div>

}
else
{
    <div class="col-3">
        <a class="btn btn-info" asp-action="login" asp-controller="users">
            <i style="color:white   " class="fa-solid fa-right-to-bracket"></i><span style="color:white!important">Đăng nhập!</span>
        </a>
    </div>

}