@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<input hidden class="form-check-input" type="checkbox" id="nav-input">
<label for="nav-input" class="over_lay"></label>
<div id="content" class="gb-1">
    <label id="btn-close" for="nav-input" class="close_form">
        <i class="fa-2x fa-solid fa-square-xmark"></i>
    </label>
    <div class="form_table ">
        <table class="open_form table table-hover table-bordered">

            <thead>
                <tr class="table-info">
                    <th scope="row" rowspan="2">
                        nqthanh452@gmail.com
                    </th>
                    <th scope="col">ADMIN</th>
                    <th scope="col">BAN GIÁM HIỆU</th>
                    <th scope="col">NHÂN VIÊN PHÒNG BAN</th>
                    <th scope="col">SINH VIÊN</th>
                </tr>
                <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></th>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></th>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></th>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></th>
                </tr>
            </thead>

        </table>
    </div>

</div>