
@{
    ViewData["Title"] = "chinhsuaphongban";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!doctype html>
<html lang="en">
<head>

    <title>Chỉnh sửa phòng ban</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/assets/admin/formdki/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="create-account container mt-10 d-flex">

        <div class="form d-flex">

            <div class="form-create mt-5 d-flex">
                <div class="form-title mt-8 pb-5">
                    <p class="text-primary">CHỈNH SỬA PHÒNG BAN</p>

                </div>

                <label for="exampleFormControlInput1" class="form-label ">Tên Phòng Ban:</label>
                <div class="this-typing pb-6">
                    <input type="text" class="form-control" name="oldpasswords">
                </div>
                <label for="exampleFormControlInput1" class="form-label ">Số Điện Thoại:</label>
                <div class="this-typing pb-6">
                    <input type="text" class="form-control" name="oldpasswords">
                </div>
                <label for="exampleFormControlInput1" class="form-label ">Email:</label>
                <div class="this-typing pb-6">
                    <input type="text" class="form-control" name="oldpasswords">
                </div>
                <div class="d-flex justify-content-end mb-4 mt-2">
                    <button style="font-weight:600" type="submit" class="btn btn-danger"> HUỶ</button>
                    <button style="font-weight:600" class="btn btn-success ml-4">LƯU</button>

                </div>






            </div>
        </div>


    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

